doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Webpack + Babel
    script(src='/js/vendor.bundle.js')
    script(src='/js/app.bundle.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Webpack + Babel
    p (browser-sync + sass + pug + gulp-sass + node-bourbon)
    h3#test1
    #test2
    h3 slider
    ul#slide
      li Lorem ipsum dolor sit amet.
      li Eveniet possimus, harum vero totam?
      li Ipsam quo, obcaecati deserunt aut.
      li Fugiat libero tenetur quod quisquam.
      li Blanditiis doloremque optio fuga, aperiam.
      li Eaque, unde architecto ratione libero!
      li Dicta expedita eligendi minus amet.
      li Explicabo maxime aperiam temporibus perferendis!
      li Molestias eius natus aspernatur, illum!
      li Ratione atque temporibus sit amet?
    hr
    p dev
